

<div class="container" ng-model="ChangePassCtrl">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">Đổi mật khẩu</h2>
        </div>




        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-content" >

            <form class="primari-box personal-info-box"  method="post"  novalidate name="formRegister">
                <div class="personal-info-content">

                     <div class="form-group primary-form-group p-info-group">
                        <label for="password">Mật khẩu cũ <sup>*</sup></label>
                        <input type="password" name="txtPass"
                               ng-model="changeRequest.oldPass"
                               required id="password" class="form-control input-feild">
                        <small
                                id="passwrd"
                                ng-show="formRegister.txtPass.$error.required"
                                class="form-text text-danger"
                        >Vui lòng nhập pass</small >
                    </div>

                    <div class="form-group primary-form-group p-info-group">
                        <label for="password">Mật khẩu mới <sup>*</sup></label>
                        <input type="password" name="txtPassnew"
                               ng-model="changeRequest.newPass"
                               ng-maxlength="30"
                               ng-minlength="4"
                               required id="newpassword" class="form-control input-feild">
                        <small
                                ng-show="formRegister.txtPassnew.$error.required"
                                class="form-text text-danger"
                        >Vui lòng nhập mật khẩu mới</small >
                        <small
                                id="pasword"
                                ng-show="formRegister.txtPassnew.$error.minlength"
                                class="form-text text-danger"
                        >Không nhập mật khẩu ít hơn 4 kí tự</small
                        >
                    </div>
                    <div class="form-group primary-form-group p-info-group">
                        <label for="password"> Xác nhận mật khẩu mới <sup>*</sup></label>
                        <input type="password" name="txtConfPass"
                               ng-model="changeRequest.confirmPass"
                               ng-maxlength="30"
                               ng-minlength="4"
                               required id="confirmpassword" class="form-control input-feild">
                        <small
                                ng-show="formRegister.txtConfPass.$error.required"
                                class="form-text text-danger"
                        >Vui lòng nhập xác nhận mật khẩu </small >
                    </div>
                    <span class="text-danger">{{errorMessages}}</span>
                    <div class="submit-button p-info-submit-button"  ng-click="changePass()" >
                        <p id="SubmitCreate" class="btn main-btn" style="border-radius:2px;background: rgb(142, 116, 77)">
											<span>
												Đổi mật khẩu
												<i class="fa fa-chevron-right"></i>
											</span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>