
		<!-- MAIN-CONTENT-SECTION START -->
		<section class="main-content-section" ng-controller="registerCtrl">
			<div class="container">

				<div class="row">

						<h2 class="page-title" style="text-align: center">Đăng ký</h2>

					<form  id="personalinfo" method="post"  novalidate name="formRegister">


					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border: #EEEEEE solid 1px">
						<h3 class="box-subheading">Thông tin cá nhân</h3>

						<!-- CREATE-NEW-ACCOUNT START -->
						<div class="personal-infomation">
							<div class="personal-info-content">
								<div class="form-group primary-form-group p-info-group">
									<label for="firstname"> Họ & Tên </label>
									<input type="text"
										   name="txtTen"
										   ng-model="user.tenKhachHang"
										   maxlength="60"
										   required id="firstname" class="form-control input-feild">
									<small
											ng-show="formRegister.txtTen.$error.required"
											class="form-text text-danger"
									><h1 style="color: #ff171a">*</h1></small
									>

									<small
											id="fullne"
											ng-show="formRegister.txtTen.$error.maxlength"
											class="form-text text-danger"
									>Vui lòng không nhập quá 60 kí tự</small
									>
								</div>
								<div class="form-group primary-form-group p-info-group">
									<label>Giới tính</label>
									<span class="radio-box">
											<input id="radio1" type="radio"
												   name="gender"
												   id="inlineRadio2"
												   value="0"
												   ng-value="0"
												   ng-model="user.gioiTinh" ng-required="!user.gioiTinh">
											<label for="radio1">Nam</label>
										</span>
									<span class="radio-box">
											<input id="radio2" type="radio"
												   name="gender"
												   id="inlineRadio"
												   value="1"
												   ng-model="user.gioiTinh"
												   ng-value="1" ng-required="!user.gioiTinh">

											<label for="radio2">Nữ</label>
										</span>
								</div>
								<div class="form-group primary-form-group p-info-group">
									<label>Ngày sinh</label>
									<input type="date" value=""
										   name="ngaySinh"
										   ng-model="user.ngaySinh"
										   ng-value="0"
										   required class="form-control input-feild">
									<small
											ng-show="formRegister.ngaySinh.$error.required"
											class="form-text text-danger"
									><h1 style="color: #ff171a">*</h1></small
									>
								</div>
								<div class="form-group primary-form-group p-info-group" style="display: flex">
									<div class="col-4">
										<label>Phường xã </label>
										<select id="inputPX" class="form-select" ng-model="user.idPhuongXa" name="phuongXa">
											<option selected>Choose...</option>
											<option ng-repeat ="(key,value) in pxMap" ng-value="key">
												{{value}}
											</option>
										</select>
									</div>
									<div class="col-4">
										<label >Quận huyện </label>
										<select id="inputQH" class="form-select"  name="quanHuyen" ng-model="user.idQuanHuyen">
											<option selected>Choose...</option>
											<option ng-repeat ="(key,value) in qhMap" ng-value="key">
												{{value}}
											</option>
										</select>
									</div>
									<div class="col-3">
										<label>Thành Phố </label>
										<select id="inputTP" class="form-select" name="thanhPho" ng-model="user.idTinhThanh">
											<option selected>Thành phố</option>
											<option ng-repeat ="(key,value) in tpMap" ng-value="key">
												{{value}}
											</option>
										</select>
									</div>
								</div>
								<div class="form-group primary-form-group p-info-group">
									<label for="firstname"> Địa chỉ cụ thể  </label>
									<input type="text"
										   name="diaChi"
										   ng-model="user.diaChi"
										   required id="diaChi" class="form-control input-feild">
									<small
											id="diaci"
											ng-show="formRegister.diaChi.$error.required"
											class="form-text text-danger"
									><h1 style="color: #ff171a">*</h1>
									</small>
								</div>
								<div class="form-group primary-form-group p-info-group">
									<label for="firstname"> Số điện thoại </label>
									<input type="text"
										   name="txtSdt"
										   ng-model="user.soDienThoai"
										   ng-pattern="/^[0-9]*$/"
										   required id="dt" class="form-control input-feild">
									<small
											id="sdt"
											ng-show="formRegister.txtSdt.$error.required"
											class="form-text text-danger"
									><h1 style="color: #ff171a">*</h1></small
									>
									<small ng-show=
												   "formRegister.txtSdt.$error.pattern"
										   class="form-text text-danger"
									>
										Số điện thoại là các số
									</small>
								</div>
							</div>

						</div>
						<!-- CREATE-NEW-ACCOUNT END -->
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border: #EEEEEE solid 1px">
							<h3 class="box-subheading">Tải khoản</h3>

							<!-- PERSONAL-INFOMATION START -->
							<div class="personal-infomation">
								<div class="personal-info-content">



									<div class="form-group primary-form-group p-info-group">
										<label for="email">Email</label>
										<input type="email" name="txtemail"
											   ng-model="user.email"
											   required id="email" class="form-control input-feild">
										<small
												id="emaila"
												ng-show="formRegister.txtemail.$error.required"
												class="form-text text-danger"
										><h1 style="color: #ff171a">*</h1>
										</small>
									</div>
									<div class="form-group primary-form-group p-info-group">
										<label for="password">Mật khẩu </label>
										<input type="password" name="txtPass"
											   ng-model="user.password"
											   ng-maxlength="30"
											   ng-minlength="4"
											   required id="password" class="form-control input-feild">
										<small
												id="passwrd"
												ng-show="formRegister.txtPass.$error.required"
												class="form-text text-danger"
										><h1 style="color: #ff171a">*</h1></small
										>
										<small
												id="passrd"
												ng-show="formRegister.txtPass.$error.maxlength"
												class="form-text text-danger"
										>Không nhập mật khẩu quá 30 kí tự</small
										>
										<small
												id="pasword"
												ng-show="formRegister.txtPass.$error.minlength"
												class="form-text text-danger"
										>Không nhập mật khẩu ít hơn 4 kí tự</small
										>
									</div>
									<div class="forget-password">
										<p><a href="#signin">Bạn đã có tài khoản?</a></p>
									</div>
									<span class="text-danger">{{errorMessage}}</span>
									<div class="submit-button p-info-submit-button"  ng-click="registerClient()">
										<p id="SubmitCreate" class="btn main-btn" style="border-radius:2px;background: rgb(142, 116, 77)">
											<span style="color: #EEEEEE">
												Đăng ký
												<i class="fa fa-chevron-right"></i>
											</span>
										</p>
									</div>
								</div>

							</div>
							<!-- PERSONAL-INFOMATION END -->
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- MAIN-CONTENT-SECTION END -->
