<div>
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- BSTORE-BREADCRUMB START -->
                    <div class="bstore-breadcrumb">
                        <a href="#/index">Trang chủ<span><i class="fa fa-caret-right"></i> </span> </a>
                        <span> <i class="fa fa-caret-right"> </i> </span>
                        <a href="#/sanpham"> {{sanPhamDetail.danhMuc.ten}} </a>
                        <span> {{sanPhamDetail.tenSanPham}} </span>
                    </div>
                    <!-- BSTORE-BREADCRUMB END -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <!-- SINGLE-PRODUCT-DESCRIPTION START -->
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                            <div class="single-product-view">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!--Todo hiển thị hình ảnh to-->
                                    <div class="tab-pane active" id="thumbnail_1">
                                        <div class="single-product-image">
                                            <img src="/assets/images/{{selectImage}}" alt="single-product-image"/>
                                            <span ng-if="chiTietSanPham.khuyenMai == null "></span>
                                            <span ng-if="chiTietSanPham.khuyenMai != null ">
                                                    <span ng-if="chiTietSanPham.khuyenMai.enabled == false"></span>
                                                    <span ng-if="chiTietSanPham.khuyenMai.enabled == true">

                                                        <span ng-if="currentDate >  chiTietSanPham.khuyenMai.ngayKetThuc.toString() "></span>
                                                        <span ng-if="currentDate < chiTietSanPham.khuyenMai.ngayKetThuc.toString()">
                                                            <span ng-if="currentDate < chiTietSanPham.khuyenMai.ngayBatDau.toString()"></span>
                                                            <span ng-if="currentDate > chiTietSanPham.khuyenMai.ngayBatDau.toString()">
                                                                <a href="#" class="new-mark-box">{{chiTietSanPham.khuyenMai.chietKhau}} %</a>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            <a class="fancybox" href="/assets/images/{{selectImage}}"
                                               data-fancybox-group="gallery"><span class="btn large-btn">Xem chi tiết<i
                                                    class="fa fa-search-plus"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select-product">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs select-product-tab bxslider">
                                    <!--Todo list ảnh-->
                                    <li class="active" ng-repeat="anh in  sanPhamDetail.listAnhSanPham">
                                        <a data-toggle="tab"><img src="/assets/images/{{anh.link}}" alt="pro-thumbnail"
                                                                  ng-click="changeImage(anh)"/></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                            <div class="single-product-descirption">
                                <h2>{{sanPhamDetail.tenSanPham}}</h2>
                                <div class="single-product-social-share">
                                    <ul>
                                        <li><a href="#" class="twi-link"><i class="fa fa-twitter"></i>Tweet</a></li>
                                        <li><a href="#" class="fb-link"><i class="fa fa-facebook"></i>Share</a></li>
                                        <li><a href="#" class="g-plus-link"><i class="fa fa-google-plus"></i>Google+</a>
                                        </li>
                                        <li><a href="#" class="pin-link"><i class="fa fa-pinterest"></i>Pinterest</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="single-product-review-box">
                                    <div class="rating-box">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </div>
                                    <div class="read-reviews">
                                        <a href="#">Đánh giá(1)</a>
                                    </div>
                                    <div class="write-review">
                                        <a href="#">Viết đánh giá</a>
                                    </div>
                                </div>
                                <div ng-if="chiTietSanPham.giaSanPham == getGia()">
                                    <div class="single-product-condition">
                                        <p>Mã: <span>{{chiTietSanPham.maChiTietSanPham}}</span></p>
                                    </div>
                                    <div class="single-product-price">
                                        <h2><span ng-bind="getGia() | number"></span>đ</h2>
                                    </div>
                                </div>
                                <div ng-if="chiTietSanPham.giaSanPham != getGia()">
                                    <div class="single-product-condition">
                                        <p>Mã: <span>{{chiTietSanPham.maChiTietSanPham}}</span></p>
                                        <!--Todo chiet khau-->
                                        <p>Khuyến mại: <span>{{chiTietSanPham.khuyenMai.tenKhuyenMai}}</span></p>
                                    </div>
                                    <div class="single-product-price">
                                        <h2><span ng-bind="getGia() | number "></span> đ</h2>
                                        <span class="old-price">{{chiTietSanPham.giaSanPham | number }} đ</span>
                                    </div>
                                </div>
                                <div class="single-product-desc">
                                    <!--<p>Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>-->
                                    <div class="product-in-stock">
                                        <p style="color: red"> Còn {{ countMaDinhDanh.get(chiTietSanPham.soLuong) }}
                                            sản phẩm
                                            <span ng-show="countMaDinhDanh.get(chiTietSanPham.soLuong > 0)">Còn hàng</span>
                                            <span style="background: red"
                                                  ng-show="countMaDinhDanh.get(chiTietSanPham.soLuong == 0)">Hết hàng</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="single-product-info">
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"><i class="fa fa-print"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                                <div class="single-product-quantity">
                                    <p class="small-title" style=" margin-right: 16px">Số lượng</p>
                                    <div class="cart-quantity">
                                        <div class="cart-plus-minus-button single-qty-btn">
                                            <div class="dec qtybutton" ng-click="giam(item)" style="">-</div>
                                            <input class="cart-plus-minus sing-pro-qty" type="text" name="qtybutton" ng-model="soLuong" readonly style="margin: 0;width: 30px; text-align: center">
                                            <div class="inc qtybutton"  ng-click="tang(item)"  style="margin: 0">+</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-product-color">
                                    <p class="small-title">Kích Cỡ </p>
                                    <div class="radio-container" ng-repeat="kc in listKichCo">
                                        <input type="radio" name="kichCoOption" id="kichco{{kc}}" class="custom-radio"
                                               ng-model="$parent.selectedKC" ng-value="kc">
<!--                                               ng-disabled="!setAvaiableKichCo.has(kc)">-->
                                        <label for="kichco{{kc}}" class="custom-button-radio">{{kc}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Màu sắc </p>
                                    <div class="radio-container" ng-repeat="ms in listMauSac">
                                        <input type="radio" name="mausacOption" id="mausac{{ms}}" class="custom-radio"
                                               ng-model="$parent.selectedMS" ng-value="ms"
                                               ng-disabled="!setAvaiableMauSac.has(ms)">
                                        <label for="mausac{{ms}}" class="custom-button-radio">{{ms}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Chất Liệu </p>
                                    <div class="radio-container" ng-repeat="cl in listChatLieu">
                                        <input type="radio" name="chatLieuOption" id="chatLieu{{cl}}" class="custom-radio"
                                               ng-model="$parent.selectedCL" ng-value="cl"
                                               ng-disabled="!setAvaiableChatLieu.has(cl)">
                                        <label for="chatLieu{{cl}}" class="custom-button-radio">{{cl}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Cấu Trúc Khuy </p>
                                    <div class="radio-container" ng-repeat="ctk in listCauTrucKhuy">
                                        <input type="radio" name="chatLieuOption" id="cauTruckhuy{{ctk}}" class="custom-radio"
                                               ng-model="$parent.selectedCTK" ng-value="ctk"
                                               ng-disabled="!setAvaiableCauTrucKhuy.has(ctk)">
                                        <label for="cauTruckhuy{{ctk}}" class="custom-button-radio">{{ctk}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Hoạ Tiết </p>
                                    <div class="radio-container" ng-repeat="ht in listHoaTiet">
                                        <input type="radio" name="hoaTietOption" id="hoatiet{{ht}}" class="custom-radio"
                                               ng-model="$parent.selectedHT" ng-value="ht"
                                               ng-disabled="!setAvaiableHoaTiet.has(ht)">
                                        <label for="hoatiet{{ht}}" class="custom-button-radio">{{ht}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Kiểu dệt</p>
                                    <div class="radio-container" ng-repeat="kd in listKieuDet">
                                        <input type="radio" name="kieuDettOption" id="kieudet{{kd}}" class="custom-radio"
                                               ng-model="$parent.selectedKD" ng-value="kd"
                                               ng-disabled="!setAvaiableKieuDet.has(kd)">
                                        <label for="kieudet{{kd}}" class="custom-button-radio">{{kd}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Kiểu túi</p>
                                    <div class="radio-container" ng-repeat="kt in listKieuTui">
                                        <input type="radio" name="kieuDettOption" id="kieutui{{kt}}" class="custom-radio"
                                               ng-model="$parent.selectedKT" ng-value="kt"
                                               ng-disabled="!setAvaiableKieuTui.has(kt)">
                                        <label for="kieutui{{kt}}" class="custom-button-radio">{{kt}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Lớp lót</p>
                                    <div class="radio-container" ng-repeat="ll in listLopLot">
                                        <input type="radio" name="lopLopOption" id="loplot{{ll}}" class="custom-radio"
                                               ng-model="$parent.selectedLL" ng-value="ll"
                                               ng-disabled="!setAvaiableLopLot.has(ll)">
                                        <label for="loplot{{ll}}" class="custom-button-radio">{{ll}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Ve áo</p>
                                    <div class="radio-container" ng-repeat="va in listVeAo">
                                        <input type="radio" name="VeAoOption" id="loplot{{va}}" class="custom-radio"
                                               ng-model="$parent.selectedVA" ng-value="va"
                                               ng-disabled="!setAvaiableVeAo.has(va)">
                                        <label for="loplot{{va}}" class="custom-button-radio">{{va}}</label>
                                    </div>
                                </div>
                                <div class="single-product-color">
                                    <p class="small-title">Xe tà</p>
                                    <div class="radio-container" ng-repeat="xt in listXeTa">
                                        <input type="radio" name="VeAoOption" id="xeta{{xt}}" class="custom-radio"
                                               ng-model="$parent.selectedXT" ng-value="xt"
                                               ng-disabled="!setAvaiableXeTa.has(xt)">
                                        <label for="xeta{{xt}}" class="custom-button-radio">{{xt}}</label>
                                    </div>
                                </div>
                                <div class="single-product-add-cart">
                                    <button class="add-cart-text" title="Thêm vào giỏ hàng" ng-click="addToCart()"
                                            ng-disabled="countMaDinhDanh.get(chiTietSanPham.idChiTietSanPham) == 0 || chiTietSanPham.trangThai == 0">
                                        Thêm vào giỏ hàng
                                    </button>
                                    <button class="add-cart-text" title="Mua ngay" ng-click="buyNow()"
                                            ng-disabled="countMaDinhDanh.get(chiTietSanPham.idChiTietSanPham) == 0 ||  chiTietSanPham.trangThai == 0">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SINGLE-PRODUCT-DESCRIPTION END -->
                    <!-- SINGLE-PRODUCT INFO TAB START -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="product-more-info-tab">
                                <ul class="nav nav-tabs more-info-tab">
                                    <li class="{{moreInfo}}"><a class="btn" ng-click="changeTab(1)" data-toggle="tab">Giới
                                        thiệu</a></li>
                                    <li class="{{dataSheet}}"><a class="btn" ng-click="changeTab(2)" data-toggle="tab">Thông
                                        tin </a></li>
                                    <li class="{{review}}"><a class="btn" ng-click="changeTab(3)" data-toggle="tab">Đánh
                                        giá</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane {{moreInfo}}" id="moreinfo">
                                        <div class="tab-description">
                                            <p> {{sanPhamDetail.moTaSanPham}} </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane {{dataSheet}}" id="datasheet">
                                        <div class="deta-sheet">
                                            <table class="table-data-sheet">
                                                <tbody>
                                                <tr class="odd">
                                                    <td>Thương hiệu</td>
                                                    <td>The Suits House</td>
                                                    <td></td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="td-bg">Danh mục</td>
                                                    <td class="td-bg">{{sanPhamDetail.danhMuc.ten}}</td>
                                                    <td></td>
                                                </tr>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Sơ Mi Phù Hợp</td>
                                                    <td>{{chiTietSanPham.soMiPhuHop}}</td>
                                                </tr>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Giày Phù Hợp</td>
                                                    <td>{{chiTietSanPham.giayPhuHop}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Chất liệu</td>
                                                    <td>{{chiTietSanPham.chatLieu.tenChatLieu}}</td>
                                                    <td>{{chiTietSanPham.chatLieu.moTaChatLieu}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Cấu Trúc Khuy</td>
                                                    <td>{{chiTietSanPham.cauTrucKhuy.tenCauTrucKhuy}}</td>
                                                    <td>{{chiTietSanPham.cauTrucKhuy.moTaCauTrucKhuy}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Hoạ Tiết</td>
                                                    <td>{{chiTietSanPham.hoaTiet.tenHoaTiet}}</td>
                                                    <td>{{chiTietSanPham.hoaTiet.moTaHoaTiet}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Áp Dụng Khuyến Mãi</td>
                                                    <td>{{chiTietSanPham.khuyenMai.tenKhuyenMai}}</td>
                                                    <td>{{chiTietSanPham.khuyenMai.moTaKhuyenMai}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Kiểu Dệt</td>
                                                    <td>{{chiTietSanPham.kieuDet.tenKieuDet}}</td>
                                                    <td>{{chiTietSanPham.kieuDet.moTaKieuDet}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Kiểu Túi</td>
                                                    <td>{{chiTietSanPham.kieuTui.tenKieuTui}}</td>
                                                    <td>{{chiTietSanPham.kieuTui.moTaKieuTui}}</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>Ve Áo</td>
                                                    <td>{{chiTietSanPham.Ve.tenVeAo}}</td>
                                                    <td>{{chiTietSanPham.Ve.moTaVeAo}}</td>

                                                </tr>
                                                <tr class="odd">
                                                    <td>Xẻ Tà</td>
                                                    <td>{{chiTietSanPham.xeTa.tenXeTa}}</td>
                                                    <td>{{chiTietSanPham.xeTa.moTaXeTa}}</td>
                                                </tr>

                                                <tr class="odd">
                                                    <td>Tình trạng</td>
                                                    <td>{{chiTietSanPham.trangThai == 1 ? "Đang bán": "Ngưng bán"}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane {{review}}" id="review">
                                        <div class="row tab-review-row">
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
                                                <div class="tab-rating-box" ng-repeat="p in Items">
                                                    <span>{{p.noiDungPhanHoi}}</span>
                                                    <div star-rating rating-value="p.danhGia" max="5"></div>
                                                    <div class="review-author-info">
                                                        <strong>{{p.khachHang.tenKhachHang}} </strong>
                                                        <span>{{p.thoiGianPhanHoi | date: 'dd/MM/yyyy'}}</span>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="text-center" ng-if="pages.length == 0 ">
                                                    <p>Chưa có phản hồi nào</p>
                                                </div>
                                                <div ng-if="pages.length > 0 ">
                                                    <div class="showing-next-prev">
                                                        <ul class="pagination-bar">
                                                            <li ng-class="{ 'disabled' : isFirstPage }">
                                                                <a style="cursor: pointer" ng-click="previousPage()"><i
                                                                        class="fa fa-chevron-left "></i>Previous</a>
                                                            </li>
                                                            <li ng-class="{ 'active' : page == currentPage }"
                                                                ng-repeat="page in pages" ng-click="changePage(page)">
                                                                <span><a style="cursor: pointer" class="pagi-num">{{ page }}</a></span>
                                                            </li>
                                                            <li ng-class="{ 'disabled' : isLastPage }">
                                                                <a style="cursor: pointer" ng-click="nextPage()">Next<i
                                                                        class="fa fa-chevron-right"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-5">
                                                <div class="text-center" ng-if="pages.length == 0 ">

                                                </div>
                                                <div ng-if="pages.length > 0 ">
                                                    <div class="write-your-review">
                                                        <p><strong>Đánh gía</strong></p>
                                                        <p>Đánh giá</p>
                                                        <span class="usefull-comment">Bạn có thấy đánh giá này hữu ích không <span>Có</span><span>Không</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>