<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleft.org/thymeleft-extras-springsecurity5">
<head th:replace="admin/fragment/fragments:: page_head"></head>
<body>

<div th:fragment="navbar">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background: rgb(20, 33, 62);color: white;">
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Input Box in the Middle -->
        <div class="d-flex mx-auto">
            <input type="text"
                   style="background-color: transparent; border: 1px solid white; color: white; width: 500px;"
                   class="form-control" placeholder="Search..."/>
            <i class="m-2 fa-regular fa-circle-question fa-flip fa-xl" style="color: #f5f5f5;"></i>
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/admin/logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="menu">

    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion"
             style="background: rgb(30, 50, 92); color: white;">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link collapsed" id="categories" th:href="@{/admin/categories}">
                        <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                        Dạnh mục
                    </a>
                    <a class="nav-link collapsed" id="products" th:href="@{/admin/products}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Sản phẩm
                    </a>

                    <a class="nav-link collapsed" id="users" th:href="@{/admin/users}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Nhân viên
                    </a>
                    <a class="nav-link collapsed" id="cautruckhuy" th:href="@{/admin/cautruckhuy}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Cấu trúc khuy
                    </a>


                    <a class="nav-link collapsed" id="materials" th:href="@{/admin/chatlieu}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Chất Liệu
                    </a>

                    <a class="nav-link collapsed" id="xeta" th:href="@{/admin/xeta}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Xẻ tà</a>
                    <a class="nav-link collapsed" id="colors" th:href="@{/admin/colors}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Màu sắc
                    </a>
                    <a class="nav-link collapsed" id="xeta" th:href="@{/admin/xeta}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Xẻ tà</a>
                    <a class="nav-link collapsed" id="" th:href="@{/admin/design}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Họa tiết</a>

                    <a class="nav-link collapsed" id="discounts" th:href="@{/admin/discounts}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Khuyến mại
                    <a class="nav-link collapsed" id="size" th:href="@{/admin/sizes}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        kích cỡ
                    </a>
                    <a class="nav-link collapsed" id="kieudet" th:href="@{/admin/kieudet}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Kiểu dệt</a>
                    <a class="nav-link collapsed" id="kieutui" th:href="@{/admin/kieutui}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        kiểu túi
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>