<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragment/fragments:: page_head"></head>
<body class="sb-nav-fixed">
<div th:replace="admin/fragment/navigation:: navbar"></div>
<div id="layoutSidenav">
  <div th:replace="admin/fragment/navigation:: menu"></div>

  <div id="layoutSidenav_content">
    <main style="margin-left: 10px">
      <div>
        <h2>Quản lý mã định danh chi tiết sản phẩm</h2>
        <a style="text-decoration: none" th:href="@{/admin/ma-dinh-danh/new}">
          <i style="color: green" class="fas fa-plus"></i>
        </a>
      </div>

      <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
      </div>
        <table  id="example" class="table table-bordered table-striped table-hover table-responsive-xl">
          <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Mã định danh</th>
            <th>Mã chi tiết sản phẩm</th>
            <th>Ngày nhập</th>
            <th>Ngày bán</th>
            <th>Trạng thái</th>
            <Th>Action</Th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="maDinhDanh :${listMaDinhDanh}">
            <td>[[${maDinhDanh.id}]]</td>
            <td>[[${maDinhDanh.maDinhDanh}]]</td>
            <td>[[${maDinhDanh.chiTietSanPham.maChiTietSanPham}]]</td>
            <td>[[${maDinhDanh.ngayNhap}]]</td>
            <td>[[${maDinhDanh.ngayBan}]]</td>
            <td>
                            <span th:switch="${maDinhDanh.trangThai}">
                                <span th:case="0">Lỗi</span>
                                <span th:case="1">Chưa bán</span>
                                <span th:case="2">Đang giao</span>
                                <span th:case="3">Đã bán</span>
                                <span th:case="*">Không xác định</span>
                            </span>
            </td>
            <td>
              <a class="icon-green" style="text-decoration: none" th:href="@{'/admin/ma-dinh-danh/edit/' + ${maDinhDanh.id}}" title="Thay đổi thông tin">
                <i style="color: blue" class="fas fa-edit"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
    </main>
  </div>
</div>
</body>

<script>
  $('#example').DataTable();
</script>
<!--<script>-->
<!--  const imeiInput = document.getElementById("imeiInput");-->
<!--  const clearButton = document.getElementById("clearButton");-->
<!--  clean.addEventListener("click",()=>{-->
<!--    keywordMD.value = "";-->
<!--  })-->
<!--</script>-->
</html>